

<p>gamepage works!</p>
<!-- <select  [(ngModel)]="gameID" (change)="selectChangeHandler($event)">
    <option value="x">x</option>
    <option value="y">y</option>
    <option value="Z">z</option>
  </select>
  
  <div>  
    Selected: {{gameID}}
  </div> -->
<!-- <button (click)="hello()">Submit</button>
  <select (ngModelChange)="selectChangeHandler($event)">
    <option value="x">x</option>
    <option value="y">y</option>
    <option value="Z">z</option>
  </select>
  <div>  
    Selected: {{gameID}}
  </div>  -->