<h4>Select value</h4>
<select [(ngModel)]="gameIdData[0]" (ngModelChange)="onChange($event)">
  <option *ngFor="let g of gameIdData" [ngValue]="g">{{ g }}</option>
</select>
<div>selected: {{ gameId }}</div>
<div class="container-fluid">
  <h5>Upcoming Games</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Game Id</th>
        <th scope="col">Race Start</th>
        <!-- <th scope="col">TotalToWin</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of upcoming; let i = index" (click)="getID(u.id)">
        <th scope="row" [attr.data-index]="i">{{ i + 1 }}</th>
        <td>{{ u.id }}</td>
        <td>{{ u.startTime }}</td>
      </tr>
    </tbody>
  </table>
  <h5>Results</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Game Id</th>
        <th scope="col">Race Start</th>
        <th scope="col">TotalToWin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of results; let i = index" (click)="getID(r.id)">
        <th scope="row" [attr.data-index]="i">{{ i + 1 }}</th>
        <td>{{ r.id }}}</td>
        <td>{{ r.startTime }}</td>
        <td>{{ r.totalToWin }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button (click)="getData()">Get Api data</button>

<h5>Races</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Race Number</th>
      <th scope="col">Race Name</th>
      <th scope="col">Start Time</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let r of gameInfo['races']; let i = index"
      (click)="getRaceID(r.id, i)"
    >
      <th scope="row" [attr.data-index]="i">{{ i + 1 }}</th>
      <td>{{ r.number }}</td>
      <td>{{ r.name }}</td>
      <td>{{ r.startTime }}</td>
    </tr>
  </tbody>
</table>

<div class="mx-5 mb-2" *ngFor="let r of raceStartInfo; let i = index">
  <div class="row" (click)="tabView = !tabView">
    <div class="col-1">
      <p>StartNo: {{ r.number }}</p>
    </div>
    <div class="col-3">
      <p>HorseName:{{ r.horse["name"] }}</p>
    </div>
    <div class="col-2">
      <p>RiderName:{{ r.driver["firstName"] + r.driver["lastName"] }}</p>
    </div>
    <div class="col-1">
      {{ tabView ? "&ndash;" : "+" }}
      <!-- <i class="fa fa-arrow-down"></i> -->
    </div>
  </div>
  <div *ngIf="tabView">
    <div class="row" *ngFor="let h of findHorseDetails(r)">
      <div class="col-3">
        Trainer:
        {{ h.horse.trainer["firstName"] + h.horse.trainer["lastName"] }}
      </div>
      <div class="col-3">Father:{{ h.horse.pedigree.father.name }}</div>
    </div>
  </div>
</div>
<!-- <div class="row" *ngFor="let r of raceStartInfo;let i = index">
    <div class="col-1">
        <p>StartNo: {{r.number}}</p>
    </div>
    <div class="col-3">
        <p>HorseName:{{r.horse['name']}}</p>
    </div>
    <div class="col-2">
        <p>RiderName:{{r.driver['firstName'] + r.driver['lastName']}}</p>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-dark" aria-label="Left Align" (click)="getTabView(i)">
           More
        </button>
        <i class="fa fa-arrow-down"></i>
    </div>
</div> -->

<!-- <div class="row" *ngIf="tabView">
    <div class="col-3">
        Trainer:{{r.horse.trainer['firstName'] + r.horse.trainer['lastName']}}
    </div>
    <div class="col-3">
        Father:{{r.horse.pedigree.father.name}}
    </div>
</div> -->

<router-outlet></router-outlet>
