.gameid {
   font-weight: bold;
}
.selectedGame {
    color: #ff8000;
    font-weight: bolder;
}

.expanded {
    font-weight: bold;
}

.trainer {
    color:#ff8000;
    font-weight: bolder;
    font-style: italic;
}

.father {
    color: #ff8000;
    font-weight: bolder;
    font-style: italic;
}